@use "sass:map";
@import "../base/variables";
@import "../base/mixins";

.blog-container{
    background-color: $primary-color;
<<<<<<< HEAD
    color: $secondary-color;
=======
    color: $text-color;
>>>>>>> 2ae61b26ddf4595b45b72d023bac4659dc517c62
    
    .blog-text-container{
        text-align: center;
        width: 100%;
        color: rgb(0, 0, 0);
        .blog-text {
            font-size: 1.5rem;
            margin-top: 4rem;
        }

        .blog-discover{
            font-size: 2rem;
            margin-bottom: 0px;
            margin-top: 2rem;
            text-align: center;
        }

        .blog-quote{
            margin-top: 0.55rem;
            font-size:small;
            text-align: center;
            margin-bottom: 5rem;
        }
    
}

        .blog-featured-breaker{
            width: 100%;
            height: 1px;
            background-color: rgb(91, 91, 91);
            margin-bottom: 2rem;
        }



    .blog {
        
        margin: 0px 1rem;
       .blog-card{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        gap:1rem;
            .blog-content{
                display: flex;
                flex-direction: column;
                width: 100%;
                color: black;
                width: 50%;
                gap: 0.1rem;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                .hr{
                    border: 1px solid rgb(255, 0, 0);
                    width:15%;
                    margin: 0px;
                }
                .blog-title{
                    font-size: 1rem;
                    
            }

                .blog-description{
                    margin: 0px;
                    font-size: 10px;
                }

                .read-more{
                    font-size: 10px;
                    text-decoration: none;
                    color: rgb(255, 0, 0);
                }

            }

            .blog-image{
                width: 200px;
                display: block;
                object-fit: cover;
                height: 150px;
                
            }

        }

    .blog-breaker{
        border: 1px solid rgba(217, 215, 215, 0.693);  
        margin: 2rem 0rem;  
    }

    }
    

}

@include tablet {
    .blog-container{
        .blog-text-container{
            .blog-text{
                font-size: 2rem;
            }
        }
        
        .blog{
            margin:0px;

            .blog-card{
                justify-content: space-evenly;

                .blog-content{
                    .blog-title{
                        font-size: 1.5rem;
                    }
                    .blog-description,.read-more{
                        font-size:13px;
                    }
                }
            }
        }
    }
}

@include desktop {
    .blog-container{
        .blog-text-container{
            .blog-text{
                font-size: 2.5rem;
            }
            .blog-quote{
                font-size: 0.8rem;
            }
        }
        
        .blog{      
            .blog-card{            
                .blog-content{
                    .blog-title{
                        font-size: 1.5rem;
                    }
                    .blog-description{
                        font-size: 1rem;
                    }
                    .read-more{
                        font-size:1rem;
                    }
                }
            }
        }
    }
}


@include large_desktop {
    .blog-container{
        .blog-text-container{
            .blog-text{
                font-size: 3rem;
            }
            .blog-quote{
                font-size: 1rem;
            }
        }
        
        }
        .blog{      
            .blog-card{            
                .blog-content{
                    .blog-title{
                        font-size: 1.5rem;
                    }                                    
                    .blog-description{    
                        font-size: 1rem;
                    }
                    .read-more{
                        font-size:1rem;
                    }
                }
                .blog-image{
                    width: 250px;
                    height: 200px;
                }
            }
        }
    }
