@import "../base/reset";
@import "../base/variables";
@import "../base/mixins";

.layout{
    padding: 1rem 1rem;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color:#EFF0F6;
}

@include tablet{
    .layout{
        padding: 1.5rem 4rem;
    }
}



@include desktop {
    .layout {
        padding: 1.5rem 5rem;
    }
}

@include large_desktop {
    .layout {
        padding: 2rem 6rem;
    }
}