@import "../base/reset";
@import "../base/variables";
@import "../base/mixins";

.layout {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: "smooth";
    background: linear-gradient(135deg, #0c1828 0%, #000000 50%, #0c1828 10%);
    padding: 0.5rem 1rem;

    &::-webkit-scrollbar {
        display: none;
    }
}

@include tablet {
    .layout {
        padding: 0.5rem 2rem;
    }
}

@include desktop {
    .layout {
        padding: 1rem 4rem;
    }
}
