

$background-color: black;
$primary-text-color: white;
$secondary-text-color: black;
$primary-color: #678df6;

$font-family: 'Poppins', sans-serif;
$font-size-large: 2.5rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;



$breakpoints: (
    tablet: 720px,
    desktop: 1024px,
    large-desktop: 1440px
);

