@use "sass:map";
@import "../base/variables";
@import "../base/mixins";

.bottom-nav {
    background-color: $primary-color;
    color: $secondary-color;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 2rem;
    a {
        text-decoration: none;
        color: $text-color;
        cursor: pointer;
    }
    a:hover {
        color: red;
    }

    ul {
        font-size: 1rem;
        padding: 0%;
    }
    li a,
    p {
        font-size: 0.8rem;
        color: rgb(58, 54, 54);
        font-weight: 400;

    }
    p {
        margin: 0;
        margin-top: 4px;
    }
    .upper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .products-span,
        .about-us-span,
        .useful-links-span,
        .contact-us-span {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: 500;
        }


        .about-us {
            grid-area: about-us;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        .products {
            grid-area: products;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        .useful-links {
            grid-area: useful-links;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        .contact-us {
            grid-area: contact-us;
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 0;
        }
    }

    .breaker {
        width: 100%;
        height: 0.5px;
        margin-top: 1rem;
        background-color: grey;
    }

    .bottom {
        p {
            margin: 1rem 0;
        }

        .social-links {
            margin-top: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1rem;

            a img {
                height: 24px;
                width: auto;
                filter: invert(100%);
            }

            .youtube-link img {
                height: 28px;
                width: auto;
            }
        }
    }
}

@include tablet {
    .bottom-nav {

        .upper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

        }

        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            p {
                margin: 0;
                font-size: 14px;
                padding-top: 4px;
            }

            .social-links {
                margin-top: 0.5rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1rem;

                a img {
                    height: 24px;
                    width: auto;
                }

                .youtube-link img {
                    height: 28px;
                    width: auto;
                }
            }
        }
    }
}

@include desktop {
    .bottom-nav {

        .upper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
                "about-us products useful-links contact-us";
        }

        .breaker {
            margin-top: 2rem;
        }

    }
}


@include large_desktop {
    .bottom-nav {

        span {
            font-size: 1rem;
        }

        p,
        li a {
            font-size: 1rem;
        }
    }
}