@import "../base/variables";
@import "../base/mixins";

.loading-container {
    @include flex-center;
    min-height: 200px;
    width: 100%;
    text-align: center;
    padding: 2rem;
    
    .loading-text {
        color: $primary-text-color;
        font-size: 1.2rem;
        margin: 0;
    }
}