@use "sass:map";
@import "../base/variables";
@import "../base/mixins";


.ProductsDropDown {
    margin-top: 1rem;
    border: 0.05px rgb(0, 0, 0) solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 1rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);   
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    z-index: 2;
    position: absolute;
    padding: 20px;  

    a {
        text-decoration: none;
        color: $text-color;
    }

    a:hover {
        color: red;

    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 20vw;
        padding: 1rem 1.2rem 0.8rem 1rem;

        a {
            font-size: medium;
            font-weight: bolder;
            margin-bottom: 1rem;
            color: $text-color;
        }

        li {
            a {
                font-size: small;
                font-weight: normal;
            }

            margin-bottom: 0.5rem;
        }
    }



}


@include large_desktop {
    .ProductsDropDown {
        gap: 8rem;

        ul {
            width: 15vw;

            a {
                font-size: large;
            }

            li {
                a {
                    font-size: medium;
                }
            }
        }
    }
}