@import "../base/variables";
@import "../base/mixins";

.card {
    border-radius: 10px;
    width: 200px;
    min-height: 280px;
    max-height: 280px;  
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: grab;

    .card-body {
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0.5rem;

        img {
            width: 160px;
            height: auto;
            object-fit: contain;
        }

        .card-title {
            width: 100%;
            font-size: 0.9rem;
            text-align: center;
        }

        .card-content {
            p {
                font-size: 10px;
                text-align: center;
            }

            .card-actions {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                align-items: center;
                .explore-btn {
                    height: 30px;
                    width: 70px;
                    font-size: 0.9rem;
                    text-align: center;
                    padding: 0%;
                    background-color: rgb(32, 7, 100);
                    color: $primary-text-color;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;

                    &:hover {
                        filter: brightness(1.2);
                        background-color: rgb(103, 51, 248);
                    }
                }

            }
        }

    }

    .card-body::before {
        content: "";
        position: absolute;
        top: -16px;
        right: -16px;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        background: linear-gradient(135deg, 
        rgba(208, 211, 219, 0.1) 0%,
        rgba(12, 24, 40, 0.95) 50%,
        rgba(143, 148, 251, 0.1) 100%
    );
        transform: scale(0);
        transform-origin: 50% 50%;
        transition: transform 0.45s ease-out;
        z-index: -4;
    }


}


.card:hover {

    .card-body::before {
        transform: scale(28);

    }

    .card-body {
        .card-title {
            color: $primary-text-color;
        }
        
        .card-content {
            p {
                color: $primary-text-color;
            }
        }
    }

    transform: translate(5px, -5px);

}


@include tablet {
    .card {
        width: 220px;
        min-height: 320px;
        max-height: 320px;

        .card-body {
            height: 100%;
            
            img {
                width: 180px;
            }
            
            .card-title {
                min-height: 35px;
                font-size: 1rem;
            }
            
            .card-content {
                height: 100%;
                p {
                    font-size: 11px;
                }

                .card-actions {
                    gap: 0.75rem;
                    
                    .explore-btn {
                        height: 32px;
                        width: 75px;
                        font-size: 0.95rem;
                    }
                }
            }
        }
    }
}

@include desktop {
    .card {
        width: 280px;
        min-height: 350px;
        max-height: 350px;

        .card-body {
            height: 100%;
            
            img {
                width: 220px;
            }
            
            .card-title {
                font-size: 1.1rem;
                min-height: 35px;
            }
            
            .card-content {
                p {
                    font-size: 12px;
                }
                
                .card-actions {
                    gap: 1rem;
                    
                    .explore-btn{
                        height: 35px;
                        width: 80px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

